In [13]:
from google.colab import files
uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance (2).csv

In [ ]:
import pandas as pd
data=pd.read_csv ('StudentsPerformance.csv')
data

To Display Top 10 Rows of The Dataset:

In [15]:
data.head(10)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 8 columns]

**Check Datatype of Each Column**

In [16]:
data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

**Check Last 10 Rows of The Dataset**

In [17]:
data.tail(10)

     gender race/ethnicity  ... reading score writing score
990    male        group E  ...            81            75
991  female        group B  ...            82            78
992  female        group D  ...            76            76
993  female        group D  ...            72            74
994    male        group A  ...            63            62
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[10 rows x 8 columns]

How many rows and columns are there in our Dataset?**bold text**

In [18]:
len(data.columns)

8

In [19]:
len(data)

1000

In [20]:
data.info

<bound method DataFrame.info of      gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]>

**Check null values in the dataset**

In [21]:
data.isnull().sum

<bound method DataFrame.sum of      gender  race/ethnicity  ...  reading score  writing score
0     False           False  ...          False          False
1     False           False  ...          False          False
2     False           False  ...          False          False
3     False           False  ...          False          False
4     False           False  ...          False          False
..      ...             ...  ...            ...            ...
995   False           False  ...          False          False
996   False           False  ...          False          False
997   False           False  ...          False          False
998   False           False  ...          False          False
999   False           False  ...          False          False

[1000 rows x 8 columns]>

**Checking the excell**
**bold text**

In [23]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [27]:
data['race/ethnicity']

0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race/ethnicity, Length: 1000, dtype: object

In [29]:
data['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [30]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [31]:
data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [32]:
data['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64